<div class="post-box resizable-video">
<div class="powered-by-box"><%= image_tag "photobucket/logo.png" %> Powered by Photobucket</div>
	<div class="profile-box">
		<%= avatar(post, "http://s1340.beta.photobucket.com/user/#{post.account}/profile/") %>
		<div class="details">
			<%= link_to "#{@accounts['PB'+post.account]['name']}", "http://s1340.beta.photobucket.com/user/#{post.account}/profile/", target: "_blank", class: 'profile-name' %><br>
			<%= link_to "#{post.account}", "http://s1340.beta.photobucket.com/user/#{post.account}/profile/", target: "_blank" %>
		</div>
		<div class="clearfix"></div>
	</div>
  <%= post.content.html_safe %>
  <div class="date-box hidden-phone"><%= post.creation_date %></div>
	<div class="date-mobile-box visible-phone"><em><%= post.creation_date %></em></div>
</div>