<div class="post-box resizable-video">
<div class="powered-by-box"><%= image_tag "twitter/bird_blue_16.png" %> Powered by Twitter</div>
	<div class="profile-box">
		<%= avatar(post, "https://twitter.com/#{post.account}") %>
		<div class="details">
			<%= link_to "#{@accounts[post.account.titlecase]['name']}", "https://twitter.com/search?q=%23#{post.account}", target: "_blank", class: 'profile-name' %><br>
			<%= link_to "##{post.account.titlecase}", "https://twitter.com/search?q=%23#{post.account}", target: "_blank" %>
		</div>
		<div class="clearfix"></div>
	</div>
  <%= post.content.html_safe %>
  <div class="date-box"><%= post.creation_date %></div>
  <div class="twitter-action-box">
    <a href="https://twitter.com/intent/tweet?in_reply_to=<%= post.provider_id %>"><i class="socialicon-twit-reply" title="reply"></i></a> 
		<a href="https://twitter.com/intent/retweet?tweet_id=<%= post.provider_id %>"><i class="socialicon-twit-retweet" title="retweet"></i></a> 
		<a href="https://twitter.com/intent/favorite?tweet_id=<%= post.provider_id %>"><i class="socialicon-twit-fav" title="favorite"></i></a>
  </div>
</div>