<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "OnTheSamePath.com" %></title>
		<meta name="revisit-after" content="14 days" />
		<meta name="description" content="OntheSamePath.com is the journey of two believers who want to live more strategically for God's kingdom.  Johnathan and Candice desire to put their skills to work for the kingdom.  Join us on the same path for His glory.">
		<meta name="MSSmartTagsPreventParsing" content="TRUE" />
		<meta name="keywords" content=" onthesamepath.com, same, path, Johnathan, Pulos, Candice, Missional, Digerati, Missional Digerati, web, developer, web development, project director" />
    <meta property="og:title" content="OntheSamePath.com" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://<%= request.host+request.fullpath %>" />
		<meta property="og:image" content="http://<%= request.host+asset_path('favicons/on-same-path-144x144.png') %>" />
		<%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag asset_path('favicons/on-same-path-144x144.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag asset_path('favicons/on-same-path-114x114.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag asset_path('favicons/on-same-path-72x72.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag asset_path('favicons/on-same-path-57x57.png'), :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag asset_path('favicons/on-same-path-32x32.png'), :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
					<a class="btn btn-navbar nav-display-button" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
          	<span class="icon-bar"></span>
          	<span class="icon-bar"></span>
					</a>
					<div class="brand_holder">
          	<a class="brand" href="<%= root_path %>">OnTheSamePath.com</a>
						<p class="tagline">Serving with <a href="http://www.missionaldigerati.org" title="A community of thinkers, designers and developers committed to leveraging technology to advance the pace of reaching every person on earth with the good news of Jesus Christ." target="_blank">Missional Digerati</a></p>
					</div>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Home", root_path  %></li>
							<li><%= link_to "About Us", about_us_path  %></li>
							<li><%= link_to "Learn More", learn_more_path  %></li>
            </ul>
						<div class="clearfix"></div>
          </div><!--/.nav-collapse -->
					<div class="pull-right hidden-phone hidden-tablet add-this">
						<%= render :partial => 'layouts/add_this' %>
					</div>
        </div>
      </div>
    </div>

    <div class="container" id="site_wrapper">
      <div class="content">
       <div class="row" id="repeatable_layer">
				<div id="start_path">&nbsp;</div>
				<div class="span3 sidebar hidden-phone">
					<%= image_tag "on_the_same_path/johnathan_gamepiece.png", class: "gamepiece johnathan draggable", title: "Drag Me" %>
					<%= image_tag "on_the_same_path/candice_gamepiece.png", class: "gamepiece candice draggable", title: "Drag Me" %>
					&nbsp;
					<div class="clearfix"></div>
				</div><!--/span-->
				<div class="span9" id="site-area">
			    <div class="span9" id="blog-posts">
						<div class="follow-links">
							<a href="https://twitter.com/OnSamePath" class="twitter-follow-button" data-show-count="false">Follow @OnSamePath</a>
							<a href="https://twitter.com/M_Digerati" class="twitter-follow-button" data-show-count="false">Follow @M_Digerati</a>
						</div>
						<%= render :partial => 'layouts/flashes' %>
						<%= yield %>
						<div class="clearfix"></div>
						<p class="copyright">Powered By <a href="https://github.com/MissionalDigerati/social_micro_blog" target="_blank">Social Micro Blogging Engine</a>.  A product of <a href="http://www.missionaldigerati.org/" target="_blank">Missional Digerati</a>.</p>
					</div>
				</div>
			</div><!--/row-->
			<div id="footer" class="hidden-phone row">
      </div>
			</div><!--/content-->
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
		<%= yield :additional_js %>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>
